[submodule "front-end-project/wine-lovers-UI"]
	path = front-end-project/wine-lovers-UI
	url = https://github.com/JessicaRodriguesFelix/wine-lovers-UI
[submodule "back-end-project/wine-lovers"]
	path = back-end-project/wine-lovers
	url = https://github.com/JessicaRodriguesFelix/wine-lovers
